@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap'); /* Noto Serif */
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap'); /* Lora */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); /* Open Sans */

:root {
    --primary-color: #042541;
    --header-font: 'Lora', serif;
    --paragraph-font: 'Open Sans', sans-serif;
}


body {
    margin: 0;
    overflow-x: hidden;
    padding-top: 40px;
}

header {
    display: flex;
    justify-content: center;
}

.bg-diagonal {
    background-color: var(--primary-color);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 150vw;
    box-shadow: 0 5px 8px #cecece;
    transform: rotate(-14deg) translate(-10%, -45%);
    z-index: -1;
}

header .container {
    display: flex;
    justify-content: center;
    align-items: center;
}
header .header-image {
    display: none;
}

header .container .image {
    position: relative;
    background-image: url("images/me1_678.png");
    background-position: center;
    background-size: cover;
    width: 600px;
    height: 680px;
    display: flex;
    justify-content: center;
    align-items: end;
}

h1 {
    color: #fff;
    font-size: 4.4em;
    font-weight: normal;
    font-family: var(--header-font);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.494);
    margin: 15px;
}

header .container .content {
    background-color: #fff;
    width: 50%;
    min-height: 500px;
    padding: 25px;
    box-shadow: 3px 3px 8px #0000003c;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

h2 {
    font-size: 3.3rem;
    font-family: var(--header-font);
    margin: 10px 0;
    font-weight: normal;
}

header p {
    color: #575757;
    font-size: 1.35rem;
    font-family: var(--paragraph-font);
    margin: 0;
}

header .icons {
    justify-self: end;
    display: flex;
    gap: 15px;
}


/* PROJECTS */

.my-work {
    margin: 80px 0 50px;
}

.project {
    max-width: 400px;
    box-shadow: 0 0 15px #00000028;
}

.project .cover-image {
    max-width: 400px;
    height: 290px;
    object-fit: cover;
}

.project .info {
    font-family: var(--header-font);
    height: 190px;
    padding: 20px;   
}


.project .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project h3 {
    font-size: 24px;
    margin: 0;
}

.project .links img {
    width: 30px;
    margin: 0 3px;
}

.project .description {
    color: #575757;
    font-size: 20px;
    font-family: var(--paragraph-font);
}

.my-work .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    grid-gap: 50px;
    justify-content: center;
}

.my-work h2 {
    margin: 0;
    grid-column-start: 1;
    grid-column-end: -1;
    margin-bottom: -30px;
}


/* FOOTER */

footer {
    color: #fff;
    background-color: var(--primary-color);
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

footer .content > * {
    margin: 35px 0;
}

footer .content {
    max-width: 35%;
}

footer .info {
    font-size: 1.6rem;
    font-family: var(--paragraph-font);
}

.phone-container, .email-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.phone-container p, .email-container p {
    margin: 15px;
}

footer .info-icon {
    width: 48px;
    height: 48px;
}

footer .icons {
    display: flex;
    gap: 20px;
}

.footer-img {
    max-width: 800px;
}

@media (max-width: 750px) {

/* HEADER */
header .container {
    flex-direction: column;
}

header .container .image {
    background-image: url("images/me1_450.png");
    text-align: center;
    width: 450px;
}

header .container .content {
    box-shadow: none;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    grid-template-rows: repeat(3, auto);
}

h2 {
    text-align: center;
}

header .icons {
    margin-top: 15px;
    justify-self: center;
}

/* FOOTER */
footer {
    padding-bottom: 0;
}

footer .content {
    max-width: 100%;
}

footer .info-icon {
    display: none;
}

footer .info {
    margin-left: 0;
}

footer .icons {
    justify-content: center;
}

}


@media (min-width: 751px) and (max-width: 1000px) {

/* HEADER */
header {
    padding: 10px 100px;
}

header .header-image {
    display: initial;
    float: left;
    width: 400px;
    height: 450px;
    margin: -140px 20px 10px -80px;
}

header .container {
    display: inline;
}

header .container .image {
    background-image: none;
    width: auto;
    height: auto;
    display: inline;
    float: right;
    margin-right: -60px;
}

h1 {
    display: inline-block;
}

header .container .content {
    float: left;
    width: auto;
    display: inline;
}

header h2 {
    margin-top: 60px;
    text-align: center;
}

header .icons {
    display: none;
}

/* FOOTER */
.footer-img {
    max-width: 400px;
}

footer .info {
    font-size: 1.1rem;
}

}
